*{
    font-family: 'Lato', sans-serif;
}
/* Encabezado bienvenidos */
.item-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: auto;
    padding: 0;
}

/* body */
body {
    background-color: white;
    background-position: center;
    background-size: cover;
    color: black;

}
/* Encabezados */
#index_encabezado,
#disfraces_encabezado,
#juguetes_encabezado,
#alimentos_encabezado {
    background-color: #085c64;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;

}
/* todas las navbars */
#index_navbar,
#alimentos_navbar,
#juguetes_navbar,
#disfraces_navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.index_carrusel{

    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-item img {
    width: 100%;
    margin: 0;
    padding: 0;
}
.foto{
    width: 100%;
    margin: 0;
    padding: 0;
}
