
/* Encabezado bienvenidos */
.item-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin: auto;
    padding: 0;
}

/* body, html */
body, html {
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;

    /* por fin te quite maldita barra x */
    overflow-x: hidden;

}
/* Encabezados */
#index_encabezado,
#disfraces_encabezado,
#juguetes_encabezado,
#alimentos_encabezado,
#register_encabezado,
#login_encabezado{
    background-color: #085c64;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;

}
/* Todos los contactos */
#index_contacto,
#alimentos_contacto,
#juguetes_contacto,
#disfraces_contacto,
#register_contacto,
#login_contacto{
    background-color: #1e2125;
    text-align: center;
    font-weight: bold;
    color: white;
}
/* Index navbars */
#index_navbar{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;

}
/* las navbars q faltan restantes */
#alimentos_navbar,
#juguetes_navbar,
#disfraces_navbar,
#register_navbar,
#login_navbar{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;
}

#index_carrusel {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* fotos */
.foto{
    width: 90%;
    margin: 0;
    padding: 0;
}

/* seccion cards */
.card {
    border-radius: 15px;
    padding: 10px;
    margin: 1px auto;
    width: 300px;
    height: 450px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: auto;
}

.card-img-top{
    width: 100%;
    height: 600px;
}


.titulo_carrusel {
    font-size: 60px;
    text-align: right;
    font-weight: 600;
    color: white;
    -webkit-text-stroke: 1px black;
}


.titulo_cartas{
    text-align: center;
    font-weight: bold;
}
.boton_carrusel{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 30px;
}

.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

#index_video {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.animated-text{
    font-family: "Arial", sans-serif;
    color: saddlebrown;
    font-weight: bold;
    font-size: 40px;
}

/* estilo para la vibración */
@keyframes vibration {
    0% { transform: translateX(0); }
    20% { transform: translateX(-3px) rotate(-3deg); }
    40% { transform: translateX(3px) rotate(3deg); }
    60% { transform: translateX(-3px) rotate(-3deg); }
    80% { transform: translateX(3px) rotate(3deg); }
    100% { transform: translateX(0); }
}

/* aplicar animación al texto */
.animated-text {
    animation: vibration 7s infinite;
}

/* ESTILOS PARA register*/
#register_form {
    margin-top: 50px;
}

#register_form h3 {
    text-align: center;
    margin-bottom: 30px;
}

#registration_form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0  0 10px rgba(0, 0, 0, 0.1);
}

#registration_form .form-label {
    font-weight: bold;
}

#registration_form .btn-primary {
    width: 100%;
}

/* ESTILOS PARA login*/
#login_section {
    margin-top: 50px;
}

#login_section h3 {
    text-align: center;
    margin-bottom: 30px;
}

#login_form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login_form .form-label {
    font-weight: bold;
}

#login_form .btn-primary {
    width: 100%;
}