*{
    font-family: 'Lato', sans-serif;
}
/* Encabezado bienvenidos */
.item-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: auto;
    padding: 0;
}

/* body */
body {
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    color: black;

}
/* Encabezados */
#index_encabezado,
#disfraces_encabezado,
#juguetes_encabezado,
#alimentos_encabezado {
    background-color: #085c64;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;

}
/* todas las navbars */
#index_navbar{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;

}
#alimentos_navbar,
#juguetes_navbar,
#disfraces_navbar {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;
}
#index_carrusel {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.foto{
    width: 90%;
    margin: 0;
    padding: 0;
}

.card{
    border-radius: 15px;
    padding: 1px;
    margin: 1px;
}

.carrusel_dialogo{
    font-size: 60px;
    text-align: right;
    font-weight: 600;
    color: white;
}


#index_contacto,
#alimentos_contacto,
#juguetes_contacto,
#disfraces_contacto{
    background-color: black;
    text-align: center;
    color: white;
}

.titulo_cartas{
    text-align: center;
    font-weight: bold;
}